/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/*  reset all styles bring to a base to work from*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* clear fix */
.container:before,
.container:after {
  content: "";
  display: table;
}
.container:after {
  clear: both;
}
.container {
  clear: both;
  *zoom: 1;
}

.container-header {
  font-size: 24px;
  border-bottom-color: #494949;
  border-bottom-style: solid;
  border-bottom-width : 2px;
}

#menu-container {
  padding: 10px;
  margin: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: #494949;
  width: 60%;
  float: left;
}

#menu-label {
  font-size: 16px;
  display: block;
}

#menu-container ul{
  width:100%;
  list-style:none;
  padding:0;
  text-align:center;
  overflow:auto;
}

#menu-container ul li{
  float:left;
  width: 30%;
  margin:15px 15px 0 0;
  height: 90px;
}

#menu-container ul li:nth-child(3){
  margin-right:0;
}

#menu-container ul li:hover {
  background-color: #DDD;
}

#menu-container .item-description {
  color: #999;
}


#cart-container {
  padding: 10px;
  margin: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: #494949;
  width: 20%;
  float:right;
}

#cart-container ul{
  width:100%;
  list-style:none;
  padding:0;
  text-align:center;
  overflow:auto;
}

#cart-container ul li{
  float:left;
  width: 100%;
  margin:15px 15px 0 0;
}

#cart-container ul li:hover {
  background-color: #DDD;
}

.submit-button {
  margin : 10px;
  background-color: #2048B4;
  color : #fff;
  width: 90%;
  height: 32px;
}

.item-container span {
  float:left;
  width: 100%;
  display:block;
}

#register-container {
  margin: 5px;
}

#register-container span {
  display: block;
  width: 100%;
  background-color: #797979;
  border-bottom-color: #494949;
  border-bottom-style: dashed;
  border-bottom-width: 2px;
}

#register-container p {
  text-align: right;
}
